
{%- set host = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['barman']
    },
    'Ubuntu': {
        'pkgs': ['barman']
    },
    'CentOS': {
        'pkgs': ['barman']
    },
}, grain='os', merge=salt['pillar.get']('barman:host')) %}
